.navbar-fixed-side{

  length:100%;
  margin:0;
}

.navbar-fixed-side:hover{
  outline: dotted red;
}


.firstRow{
  background-color:red;
}

.btn:checked {
  /* can't get this working, thinking j-query needed*/
}

/*eric test for subdividing */


.rowImage {
float:left;
}

/* min length */
/* is popular */
/*nav is iffy, maybe go back to the normal one reqs */
